<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- название проекта -->
<h1>StudentsPerformance</h1>

<!-- таблица студентов -->
<table border="1" cellpadding="5" cellspacing="0" align="left">
    <tr>
        <th colspan="4">Students <a href="{% url 'create_student' %}">(Create Students)</a></th>
    </tr>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Patronymic</th>
        <th>Actions</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.patronymic }}</td>
        <td>
            <a href="{% url 'update_student' student.pk %}">Edit</a>
            <a href="{% url 'delete_student' student.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- таблица предметов -->
<table border="1" cellpadding="5" cellspacing="0" align="left" style="margin-left: 40px;">
    <tr>
        <th colspan="4">Subjects <a href="{% url 'create_subject' %}">(Create Subjects)</a></th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Teacher</th>
        <th>Hours</th>
        <th>Actions</th>
    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{ subject.name }}</td>
        <td>{{ subject.teacher }}</td>
        <td>{{ subject.hours }}</td>
        <td>
            <a href="{% url 'update_subject' subject.pk %}">Edit</a>
            <a href="{% url 'delete_subject' subject.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- таблица оценок -->
<table border="1" cellpadding="5" cellspacing="0" align="left" style="margin-left: 40px;">
    <tr>
        <th colspan="4">Grades <a href="{% url 'create_grade' %}">(Create Grade)</a></th>
    </tr>
    <tr>
        <th>Student</th>
        <th>Subject</th>
        <th>Grade</th>
        <th>Actions</th>
    </tr>
    {% for grade in grades %}
    <tr>
        <td>{{ grade.student }}</td>
        <td>{{ grade.subject }}</td>
        <td>{{ grade.grade }}</td>
        <td>
            <a href="{% url 'update_grade' grade.pk %}">Edit</a>
            <a href="{% url 'delete_grade' grade.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- таблица лучший студент -->
<table border="1" cellpadding="5" cellspacing="0" align="right" style="margin-right: 100px;">
     <tr>
        <th colspan="4">Best Student</th>
    </tr>
    <tr>
        <th>Student</th>
        <th>Average Grade</th>
    </tr>
    {% if best_student %}
    <tr>
        <td>{{ best_student.student__first_name }} {{ best_student.student__last_name }} {{ best_student.student__patronymic }}</td>
        <td>{{ best_student.avg_grade|floatformat:2 }}</td>
    </tr>
    {% endif %}
</table>

<!-- таблица худший студент -->
<table border="1" cellpadding="5" cellspacing="0" align="right" style="margin: 40px 100px 0px 0px;">
     <tr>
        <th colspan="4">Worst Student</th>
    </tr>
    <tr>
        <th>Student</th>
        <th>Average Grade</th>
    </tr>
    {% if worst_student %}
    <tr>
        <td>{{ worst_student.student__first_name }} {{ worst_student.student__last_name }} {{ worst_student.student__patronymic }}</td>
        <td>{{ worst_student.avg_grade|floatformat:2 }}</td>
    </tr>
    {% endif %}
</table>

<!-- средние баллы по дисциплине -->
<table border="1" cellpadding="5" cellspacing="0" align="right" style="margin: 40px 100px 0px 0px;">
    <tr>
        <th colspan="4">Subject Average</th>
    </tr>
    <tr>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Average Grade</th>
    </tr>
    {% for subject_avg in subject_avg_grades %}
    <tr>
        <td>{{ subject_avg.subject__name }}</td>
        <td>{{ subject_avg.subject__teacher }}</td>
        <td>{{ subject_avg.avg_grade|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>

<!-- средние баллы студента -->
<table border="1" cellpadding="5" cellspacing="0" align="right" style="margin: 240px -380px 0px 0px;">
     <tr>
        <th colspan="4">Student Average</th>
    </tr>
    <tr>
        <th>Student</th>
        <th>Average Grade</th>
    </tr>
    {% for student_avg in student_avg_grades %}
    <tr>
        <td>{{ student_avg.student__first_name }} {{ student_avg.student__last_name }} {{ student_avg.student__patronymic }}</td>
        <td>{{ student_avg.avg_grade|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>